{% extends '/public/base.html' %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth/login.css') }}">
{% endblock %}
{% block title %} Login {% endblock %}
{% block content %}
<section class="vh-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-black">

                <div class="px-5 ms-xl-4">
                    <i class="fas fa-otter fa-2x me-3 pt-5 mt-xl-4 link-primary"></i>
                    <span class="h1 fw-bold mb-0">Otter Mind</span>
                </div>

                <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

                    <form style="width: 23rem;" action="/login" method="POST">

                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-warning" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}

                        <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Iniciar Sesión</h3>

                        <div class="form-outline mb-4">
                            <input type="text" id="username-input" name="username-input"
                                class="form-control form-control-lg" />
                            <label class="form-label" for="form2Example18">Correo Electrónico</label>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="password" id="password-input" name="password-input"
                                class="form-control form-control-lg" />
                            <label class="form-label" for="form2Example28">Contraseña</label>
                        </div>

                        <div class="pt-1 mb-4">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Iniciar Sesión</button>
                        </div>

                        <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Olvidaste la contraseña?</a></p>
                        <p>No estás registrado? <a href="#!" class="link-primary">Registrate aquí</a></p>

                    </form>

                </div>

            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <img src="{{ url_for('static', filename='img/otter-login-image.jfif') }}" alt="Login image"
                    class="w-100 vh-100" style="object-fit: cover; object-position: left;">
            </div>
        </div>
    </div>
</section>
{% endblock %}